body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: peachpuff;
}
h1{
    text-align: center;
    color: black;
}
form{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}
label{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.sign-up-button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}